.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
  background-color: #3b235c;
  background-image: url("../images/inspiration-geometry.png");
  color: rgb(69, 212, 134);
}

h2 {
  margin: 0;
  font-size: 1.25em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: yellow;
}

strong {
  margin-right: 0.3em;
  color: rgb(69, 212, 134);
  font-weight: 600;
}
