html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("../images/inspiration-geometry.png");
  height: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 1.5em;
}

@media only screen and (min-width: 768px) {
  #responsive_design {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  .outer_container_one {
    width: 30%;
  }

  header {
    height: 100%;
  }

  .outer_container_two {
    width: 70%;
    margin-top: 7rem;
  }
}
