nav {
  background: #ce4590;
  height: 120px;
  width: 100%;
  color: #ffffff;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/inspiration-geometry.png");
}

span {
  display: flex;
  align-items: center;
}

strong {
  margin-right: 0.3em;
  color: rgb(69, 212, 134);
  font-weight: 600;
}

.logo {
  font-family: "Bungee", sans-serif;
}

.tagline {
  font-size: 1em;
  color: yellow;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}
