/* 
  old file. use tweetsHover.css
*/

#all_tweets {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 1em 0;
  border-width: 3px;
  border-color: #545149;
  border-style: solid;
  background: transparent;
  font-size: 0.75em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article img {
  margin-right: 10px;
}

h3 {
  margin: 0;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: #cac8c1;
}

h4 {
  margin: 0;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #f4f1ec;
}

article p {
  padding: 10px;
  font-weight: 600;
  color: #cac8c1;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0.6em;
  border-width: 3px 0px 0px 0px;
  border-style: solid;
  border-color: #545149;
  font-size: 0.75em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #cac8c1;
}
