#all_tweets {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0em 0.5em;
  margin: 1em 0;
  border-width: 0.2rem;
  border-color: #545149;
  border-style: solid;
  background: transparent;
  font-size: 0.75em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  transition: opacity 0.25s;
  transition: box-shadow 0.25s;
}

article header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 33%;
  transition: opacity 0.25s;
}

article img {
  margin-right: 0.65rem;
  transition: opacity 0.25s;
}

h3 {
  margin: 0;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #545149;
  transition: opacity 0.25s;
}

h4 {
  margin: 0.5em 0 0 0.5em;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #ce4590;
  opacity: 0%;
  margin-left: 0.3rem;
  transition: opacity 0.5s;
}

article p {
  padding: 0 0.65rem 0.65rem 0.65rem;
  font-weight: 600;
  color: #545149;
  opacity: 33%;
  transition: opacity 0.25s;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.3rem 0;
  padding: 0.6em;
  border-width: 0;
  font-size: 0.75em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  opacity: 33%;
  transition: opacity 0.25s;
}

.icons {
  margin: 0 0.125rem;
  color: #545149;
  transition: color 0.25s;
  transition: opacity 0.25s;
}

hr {
  display: block;
  border: 0;
  height: 0.2rem;
  margin: 0;
  background-color: #545149;
  transition: color 0.25s;
}

article:hover {
  box-shadow: 0.3rem 0.3rem #755d96;
}

article:hover hr {
  background-color: yellow;
}

article:hover header {
  opacity: 100%;
}

article:hover h4 {
  opacity: 100%;
}

article:hover p {
  opacity: 100%;
}

article:hover footer {
  opacity: 100%;
}

article:hover .icons {
  color: rgb(69, 212, 134);
}

@media only screen and (min-width: 768px) {
  article header {
    flex-direction: row;
  }

  h4 {
    margin-left: 0;
  }

  article p {
    padding: 0.65rem;
  }

  .icons {
    margin: 0 0.25rem;
  }

  article:hover .icons {
    margin: 0 0.25rem;
    color: rgb(69, 212, 134);
  }
}
